@import "../../assets/styles/variable.scss";

.mainProfile {
  position: relative;
  padding: $lyPadding 0 0 0;
  &__svg {
    padding: 1% 0;
    width: 100vw;
    height: auto;
    overflow: visible;
    z-index: 2;

    & path {
      stroke: rgba(255, 255, 255, 0.5);
    }
    & textPath {
      position: relative;
      font-family: $fontSec, $fontFir;
      font-size: 150%;
      font-weight: bold;
      color: $colPoint6;
      filter: currentColor;
    }
  }

  &__thumb {
    display: block;
    width: 40vw;
    max-width: 600px;
    min-width: 300px;
    margin: 5vh 5vw 0 auto;

    img {
      width: 100%;
    }
  }
}

.footer {
  position: relative;
  padding: 0 0 $lyPadding 0;
  // background: linear-gradient(180deg, $colPoint6, $colPoint5);
  overflow: hidden;

  &__sbj {
    display: block;
    will-change: transform;
    animation: moving 30s linear infinite;
  }

  &__info {
    margin: 5vh 5vw 192px 5vw;
    & .list {
      &__item {
        margin: 16px 0;
      }

      &__tit {
        margin-right: 52px;
      }
    }
  }
}



@media (max-width: $in) {
  .mainProfile {
    padding: 96px 0 0 0;

    &__svg {
      width: 150%;
    }
  }

  .footer {
    padding: 48px 0;
    box-sizing: border-box;


    &__info {
      margin: 16px 24px 96px;

      & .list {
        &__tit {
          display: block;
          margin-right: 0;
        }
        &__item {
          margin: 8px;
        }
      }
    }
  }
}

@keyframes moving {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}