@import "../../assets/styles/variable.scss";

.listLego {
  margin: $lyMargin 0;
  padding: $lyPadding $lyMargin;
}

@media (max-width: 1440px) {
  .listLego {
    padding: 48px 16px;
  }
}

.titleType5 {
  position: relative;
  margin-bottom: $lyMargin;
  font-family: $fontThi, $fontFir;
  font-size: $titSizThr;
  color: $fontColFir;
  text-align: center;

  & .highlight {
    position: relative;

    & img {
      position: absolute;
      top: -24px;
      right: 0;
      width: 100%;
      z-index: -1;
    }
  }
}

@media (max-width: 860px) {
  .titleType5 {
    margin-bottom: 32px;
    font-size: 48px;
  }
}

.listType5 {
  & .list {
    display: grid;
    //grid-template-columns: repeat(1, 336px);
    //grid-auto-rows: 336px;
    grid-gap: $lyGap;
    grid-template-areas:
      "a a b b"
      "a a b b"
      "c d d e"
      "c f g g";

    &__item {
      position: relative;
      border-radius: $lyRadius;
      overflow: hidden;

      &.item01 {
        grid-area: a;
      }

      &.item02 {
        grid-area: b;
      }

      &.item03 {
        grid-area: c;
      }

      &.item04 {
        grid-area: d;
      }

      &.item05 {
        grid-area: e;
      }

      &.item06 {
        grid-area: f;
      }

      &.item07 {
        grid-area: g;
      }
    }

    &__tit {
      position: absolute;
      left: 36px;
      top: 36px;
      font-family: $fontSec, $fontFir;
      font-size: $fontSizLv3;
      line-height: $lineHeiLv3;
      color: $whiteFff;
      white-space: break-spaces;
      z-index: 1;
    }

    &__cate {
      position: absolute;
      left: 36px;
      bottom: 36px;
      font-family: $fontSec, $fontFir;
      font-size: $txtSizeLv3;
      line-height: $lineHeiLv0;
      color: $whiteFff;
      z-index: 1;
    }

    &__desc {
      position: absolute;
      left: 36px;
      bottom: 96px;
      font-size: $txtSizeLv4;
      color: $whiteFff;
      z-index: 1;
    }

    &__thumb {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: $lyRadius;
      overflow: hidden;
      isolation: isolate;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
    }

    &__link {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
    }

    &__item:hover {
      & .list__img {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 1440px) {
  .listType5 {
    & .list {
      grid-gap: 12px;
      width: auto;
    }
  }
}

@media (max-width: 860px) {
  .listType5 {
    & .list {
      // grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g";

      &__item {
        height: 360px;
      }

      &__tit {
        top: 24px;
        left: 24px;
        font-size: 24px;
      }

      &__cate {
        left: 24px;
        bottom: 24px;
        font-size: 16px;
      }
    }
  }
}
