@import "../../assets/styles/variable.scss";

.mainSite {
  margin: $lyPadding 0;
}

.horizontal-scroll {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
}

.pin-wrap {
  height: 100vh;
  min-height: 820px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  //padding: 50px 10vw;
}

.pin-wrap > * {
  min-width: 100vw;
  padding: 0 20vw;
  box-sizing: border-box;
}

@media (max-width: 860px) {
  .mainSite {
    min-height: auto;
  }

  .pin-wrap {
    min-height: auto;
  }
}

.titleType3 {
  position: relative;
  text-align: right;
  font-family: $font__third, $fontFir;
  font-size: $fontSizLv1;
  line-height: $lineHeiLv3;
  color: $whiteFff;
  white-space: break-spaces;

  &__img {
    position: absolute;
    right: 0;
    bottom: -60%;
    width: 21vw;
    z-index: -1;
    & img {
      width: 100%;
    }
  }
}

@media (max-width: 860px) {
  .titleType3 {
    padding: 0;
    font-size: 48px;

    &__img {
      width: 177px;
    }
  }
}

.listType3 {
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__tit {
    position: relative;
    text-align: right;
    font-family: $font__third, $fontFir;
    font-size: $fontSizLv1;
    line-height: $lineHeiLv3;
    color: $whiteFff;

    &Img {
      position: absolute;
      right: 0;
      bottom: -60%;
      width: 21vw;
      z-index: -1;
      & img {
        width: 100%;
      }
    }
  }

  &__emoji {
    position: relative;
    margin: 0 0 -30vh -5vw;
    width: $in;
    height: 910px;
    z-index: -1;

    & img {
      width: 100%;
    }

    &Circle,
    &Icon,
    &Dot,
    &Bg {
      position: relative;
    }

    &Circle > span,
    &Icon > span,
    &Dot > span,
    &Bg > span {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  & .list {
    &__contents {
      position: relative;
    }

    &__item {
      position: relative;
      display: flex;
    }

    &__info {
      margin-right: 48px;
      min-width: 400px;
    }

    &__num {
      font-weight: bold;
      font-style: italic;
      font-family: $font__second, $fontFir;
      font-size: $fontSizLv1;
      line-height: $lineHeiLv0;
      color: $whiteFff;
      opacity: 0.3;
      z-index: -1;
    }

    &__tit {
      display: block;
      margin-bottom: 16px;
      font-weight: bold;
      font-style: italic;
      font-family: $fontSec, $fontFir;
      font-size: $fontSizLv3;
      line-height: $lineHeiLv0;
      color: $whiteFff;
    }

    &__desc {
      font-size: $fontSizLv5;
      color: $whiteFff;
    }

    &__thumb {
      position: relative;
      display: block;
      overflow: hidden;
      width: 60vw;
      font-size: 0px;

      & a::after {
        content: "";
        position: absolute;
        top: 24px;
        right: 24px;
        bottom: 24px;
        left: 24px;
        background: rgba(255, 255, 255, 0.5) url($IMG_PATH + "/icon_more2.png") no-repeat 50% 50%;
        background-size: 20% auto;
        transition: all 0.4s ease-in-out;
        transform: rotate3d(1, -1, 0, 100deg);
        opacity: 0;
        z-index: 1;
      }
    }

    &__img {
      display: block;
      width: 100%;
      height: auto;
      transition: 0.3s;
    }
  }

  & .list {
    &__item:hover {
      & .list {
        &__thumb:hover {
          & a::after {
            transform: rotate3d(0, 0, 0, 0deg);
            opacity: 0.9;
          }

          & img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media (max-width: 860px) {
  .listType3 {
    &__emoji {
      width: 860px;
      height: 360px;
    }

    & .list {
      &__item {
        flex-direction: column;
      }

      &__info {
        margin-right: 0px;
        margin-bottom: 24px;
        min-width: auto;
      }
      &__desc {
        font-size: 16px;
      }

      &__thumb {
        width: 90vw;
      }
    }
  }
}
