@import "../../assets/styles/variable.scss";

// layout
.mainIntro {
  padding: $lyPadding 24px;
  overflow-x: hidden;
}

@media (max-width: $breakPoint) {
  .mainIntro {
    padding: $lyPadding 16px;
  }
}

// title
.TitleType1 {
  margin-bottom: $lyMargin;
}

@media (max-width: $breakPoint) {
  .TitleType1 {
    margin-bottom: 32px;
  }
}

// list
.listType1 {
  display: flex;
  width: 100vw;
  max-width: $in;
  margin: 0 auto;

  & .list {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-gap: $lyGap;
    white-space: nowrap;

    &__item {
      position: relative;
      aspect-ratio: 67 / 100;
      width: 25vw;
      min-width: 300px;
      height: 100%;
      border-radius: $lyRadius;
      overflow: hidden;
      & img {
        width: 100%;
        height: auto;
      }
    }

    &__tit {
      position: absolute;
      bottom: 8vw;
      width: 100%;
      z-index: 2;
    }

    &__icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: 50% 50%;
      background-size: cover;
      z-index: 1;
    }

    &__thumb {
      display: block;
      width: 100%;
      height: 100%;
      filter: brightness(0.6);
      background-position: 50% 50%;
      background-size: cover;
    }

    &__item:nth-child(5n-4) {
      .list__tit {
        color: $colPoint1;
      }

      .list__icon {
        background-image: url($IMG_PATH + "/mainCate__itemIcon01.png");
      }

      .list__thumb {
        background-image: url($IMG_PATH + "/mainCate__itemBg01.jpg");
      }
    }

    &__item:nth-child(5n-3) {
      .list__tit {
        color: $colPoint2;
      }

      .list__icon {
        background-image: url($IMG_PATH + "/mainCate__itemIcon02.png");
      }

      .list__thumb {
        background-image: url($IMG_PATH + "/mainCate__itemBg02.jpg");
      }
    }

    &__item:nth-child(5n-2) {
      .list__tit {
        color: $colPoint3;
      }

      .list__icon {
        background-image: url($IMG_PATH + "/mainCate__itemIcon03.png");
      }

      .list__thumb {
        background-image: url($IMG_PATH + "/mainCate__itemBg03.jpg");
      }
    }

    &__item:nth-child(5n-1) {
      .list__tit {
        color: $colPoint4;
      }

      .list__icon {
        background-image: url($IMG_PATH + "/mainCate__itemIcon04.png");
      }

      .list__thumb {
        background-image: url($IMG_PATH + "/mainCate__itemBg04.jpg");
      }
    }

    &__item:nth-child(5n) {
      .list__tit {
        color: $colPoint5;
      }

      .list__icon {
        background-image: url($IMG_PATH + "/mainCate__itemIcon05.png");
      }

      .list__thumb {
        background-image: url($IMG_PATH + "/mainCate__itemBg05.jpg");
      }
    }
  }
}

@media (max-width: $breakPoint) {
  .listType1 {
    & .list {
      grid-column-gap: 16px;

      &__item {
        width: 300px;
      }

      &__tit {
        bottom: 110px;
      }
    }
  }
}
