@import "../../assets/styles/variable.scss";

.visual {
  .in {
    position: relative;
  }

  &__tit {
    position: absolute;
    top: 240px;
    left: 96px;
    right: 96px;
    text-align: left;
    z-index: 1;

    &--badge {
      margin-top: 16px;
    }
  }

  &__sbj {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    min-height: 730px;
    transform: rotate(-6deg);
    overflow: hidden;

    &--move span {
      position: relative;
      display: inline-block;
      padding: 0 2.5vw;
    }

    &--move span:hover {
      color: $black222;
    }

    &--move span::before {
      content: "";
      position: absolute;
      left: 2%;
      bottom: -5%;
      width: 11%;
      height: 50%;
      background: #ff6488;
      transform: rotate(-10deg);
      opacity: 0.3;
      z-index: -1;
      transition: 0.3s;
    }

    &--move span:hover::before {
      content: "";
      transform: rotate(10deg);
      background: #ff6488;
      opacity: 0.5;
    }
    &--move span::after {
      content: "";
      position: absolute;
      right: 1%;
      bottom: -5%;
      width: 45%;
      height: 50%;
      background-color: $greyDdd;
      opacity: 0.5;
      z-index: -1;
      transition: 0.3s;
    }

    &--move span:hover::after {
      content: "";
      width: 86%;
      opacity: 0.8;
    }
  }

  &__emoji {
    position: relative;
    margin: -30% 0 0 auto;
    width: $in;
    height: 1073px;
    z-index: -1;

    & img {
      max-width: 100%;
    }

    &Bg,
    &Item {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    &Item {
      z-index: 1;
    }

    &Bg > span,
    &Item > span {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@media (max-width: 1440px) {
  .visual {
    &__emoji {
      margin-left: -2%;
    }
  }
}

@media (max-width: 860px) {
  .visual {
    &__tit {
      top: 100px;
      left: 24px;
      right: 24px;

      &--badge {
        margin-top: 8px;
      }
    }

    &__sbj {
      height: auto;
      min-height: 600px;
    }

    &__emoji {
      width: auto;
      height: auto;
      padding-bottom: 75%;
    }

    & .circle02,
    .circle05,
    .emoji06 {
      top: -20%;
    }
  }
}
