@import "../../assets/styles/variable.scss";

.visual {
  font-family: $font__second;

  .in {
    position: relative;
  }

  &__tit {
    position: absolute;
    top: 240px;
    left: 96px;
    text-align: left;
    z-index: 1;

    & h2 {
      margin-bottom: 16px;
      font-size: 40px;
      line-height: 1.2em;
      color: $black222;
      white-space: break-spaces;
    }

    &--move {
      display: inline-block;
      padding: 0 24px;
      height: 40px;
      font-size: 16px;
      line-height: 40px;
      color: $whiteFff;
      background: #2ea34e;
      border-radius: 40px;
    }
  }

  &__sbj {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    min-height: 730px;
    font-weight: bold;
    font-style: italic;
    font-size: 6vw;
    line-height: 1em;
    color: #333;
    text-transform: uppercase;
    white-space: nowrap;
    transform: rotate(-6deg);
    overflow: hidden;

    &--move span {
      position: relative;
      display: inline-block;
      padding: 0 2.5vw;
    }

    &--move span:hover {
      color: $black222;
    }

    &--move span::before {
      content: "";
      position: absolute;
      left: 2%;
      bottom: -5%;
      width: 11%;
      height: 50%;
      background: #ff6488;
      transform: rotate(-10deg);
      opacity: 0.3;
      z-index: -1;
      transition: 0.3s;
    }

    &--move span:hover::before {
      content: "";
      transform: rotate(10deg);
      background: #ff6488;
      opacity: 0.5;
    }
    &--move span::after {
      content: "";
      position: absolute;
      right: 1%;
      bottom: -5%;
      width: 45%;
      height: 50%;
      background-color: $greyDdd;
      opacity: 0.5;
      z-index: -1;
      transition: 0.3s;
    }

    &--move span:hover::after {
      content: "";
      width: 86%;
      opacity: 0.8;
    }
  }

  &__emoji {
    position: relative;
    margin: -30% 0 0 auto;
    width: $in;
    height: 1073px;
    z-index: -1;

    & img {
      max-width: 100%;
    }

    &Bg,
    &Item {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    &Item {
      z-index: 1;

      .item01 {
      }

      .item02 {
      }

      .item03 {
      }
    }

    &Bg > span,
    &Item > span {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@media (max-width: 1440px) {
  .visual {
    &__emoji {
      margin-left: -2%;
    }
  }
}

@media (max-width: 860px) {
  .visual {
    &__tit {
      top: 100px;
      left: 24px;

      & h2 {
        margin-bottom: 8px;
        font-size: 24px;
      }

      &--move {
        padding: 0 16px;
        height: 36px;
        line-height: 36px;
        font-size: 12px;
      }
    }

    &__sbj {
      height: auto;
      min-height: 600px;
      font-size: 36px;
    }

    &__emoji {
      width: auto;
      height: auto;
      padding-bottom: 75%;
    }

    & .circle02,
    .circle05,
    .emoji06 {
      top: -20%;
    }
  }
}
