@import "../../assets/styles/variable.scss";

// layout
.listNormal {
  padding: $lyMargin;
}

@media (max-width: $in) {
  .listNormal {
    padding: 48px 16px;
  }
}

// title
.titleType2 {
  margin-bottom: $lyMargin;
}

// list
.listType2 {
  & .list {
    &__item {
      position: relative;
      display: flex;
      align-items: center;
      margin: 96px 0;
      background-color: $whiteFff;
      border-radius: $lyRadius;
      box-shadow:
        inset 4px 4px 20px 5px rgba(0, 0, 0, 0.02),
        -4px -4px 20px 4px rgba(0, 0, 0, 0.02);
      overflow: hidden;

      &::before {
        top: 20px;
        left: -20px;
      }

      &::after {
        bottom: 0;
        right: -20px;
      }
    }

    &__thumb {
      position: relative;
      font-size: 0px;
      width: 70%;
      overflow: hidden;

      & img {
        width: 100%;
        height: auto;
        transition: 0.3s;
      }
    }

    &__info {
      padding: 48px;
      width: 40%;
    }

    &__cate {
      position: relative;
      display: block;
      margin-bottom: 8px;

      &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
        width: 32px;
        height: 32px;
        background-image: url($IMG_PATH + "/icon_react.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }

      &.cate {
        &--react::before {
          background-image: url($IMG_PATH + "/icon_react.png");
        }

        &--vue::before {
          background-image: url($IMG_PATH + "/icon_vue.png");
        }
        &--php::before {
          background-image: url($IMG_PATH + "/icon_php.png");
        }
      }
    }

    &__tit {
      display: block;
      margin-bottom: 24px;
    }

    &__type {
      margin:52px -4px -4px -4px;

      &Link{
        margin: 4px;
      }
    }
  }

  & .list__item:hover {
    & .list {
      &__thumb {
        & img {
          transform: scale(1.05);
        }
      }
    }
  }
}

@media (max-width: $in) {
  .listType2 {
    & .list {
      &__item {
        margin: 12px 0;
      }
    }
  }
}

@media (max-width: $breakPoint) {
  .listType2 {
    & .list {
      &__item {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      &__info {
        padding: 24px;
        width: auto;
      }

      &__thumb {
        width: auto;
      }
    }
  }
}
