@import "../../assets/styles/variable.scss";

.mainFront {
  padding: $lyMargin $lyPadding;
}

@media (max-width: 1440px) {
  .mainFront {
    padding: 48px 16px;
  }
}

.titleType2 {
  margin-bottom: $lyMargin;
  font-family: $font__third, $fontFir;
  font-size: $titSizFir;
  color: #310591;
  white-space: break-spaces;
}

@media (max-width: 860px) {
  .titleType2 {
    font-size: 48px;
  }
}

.listType2 {
  & .list {
    &__item {
      position: relative;
      display: flex;
      align-items: center;
      margin: 96px 0;
      background-color: $whiteFff;
      border-radius: $lyRadius;
      box-shadow:
        inset 4px 4px 20px 5px rgba(0, 0, 0, 0.02),
        -4px -4px 20px 4px rgba(0, 0, 0, 0.02);
      overflow: hidden;

      &::before {
        top: 20px;
        left: -20px;
      }

      &::after {
        bottom: 0;
        right: -20px;
      }
    }

    &__thumb {
      position: relative;
      font-size: 0px;
      width: 70%;
      overflow: hidden;

      & img {
        width: 100%;
        height: auto;
        transition: 0.3s;
      }
    }

    &__info {
      padding: 48px;
      width: 40%;
    }

    &__cate {
      position: relative;
      display: block;
      margin-bottom: 8px;
      font-family: $font__second, $fontFir;
      font-size: $txtSizeLv4;
      font-weight: 500;
      color: $fontColSec;

      &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }

      &.cate {
        &--react::before {
          background-image: url($IMG_PATH + "/icon_react.png");
        }

        &--vue::before {
          background-image: url($IMG_PATH + "/icon_vue.png");
        }
        &--php::before {
          background-image: url($IMG_PATH + "/icon_php.png");
        }
      }
    }

    &__tit {
      display: block;
      margin-bottom: 24px;
      font-family: $font__second, $fontFir;
      font-size: $txtSizeLv1;
      line-height: $lineHeiLv0;
      color: $fontColFir;
    }

    &__desc {
      font-size: $txtSizeLv4;
      color: $fontColSec;
    }

    &__type {
      margin-top: 48px;
      margin-left: -4px;
      font-size: 0px;
      &Link {
        display: inline-block;
        vertical-align: middle;
        margin: 4px;
        padding: 12px 24px;
        font-family: $font__second, $fontFir;
        font-size: $txtSizeLv4;
        line-height: $lineHeiLv0;
        background-color: $whiteFff;
        border: 1px solid #ddd;
        border-radius: 36px;
      }
    }
  }

  & .list__item:hover {
    & .list {
      &__thumb {
        & img {
          transform: scale(1.05);
        }
      }
    }
  }

  & .list__typeLink:hover {
    color: #fff;
    background-color: #310591;
  }
}

@media (max-width: 1440px) {
  .listType2 {
    & .list {
      &__item {
        margin: 12px 0;
      }
    }
  }
}

@media (max-width: 860px) {
  .listType2 {
    & .list {
      &__item {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      &__info {
        padding: 24px;
        width: auto;
      }

      &__cate {
        font-size: 16px;
      }

      &__tit {
        font-size: 24px;
      }

      &__desc {
        font-size: 16px;
      }

      &__type {
        &Link {
          font-size: 14px;
        }
      }

      &__thumb {
        width: auto;
      }
    }
  }
}
