@charset "UTF-8";

$IMG_PATH: "https://raw.githubusercontent.com/hellojoyworldz/myPORTFOLIO/ver_html/assets/img";

// layout
$in: 1440px;
$breakPoint: 1024px;
$lyMargin: 96px;
$lyPadding: 240px;
$lyGap: 24px;
$lyRadius: 36px;
$lyMinHeight: 730px;

// font-family
$fontFir: "IBM Plex Sans KR";
$fontSec: "Montserrat";
$fontThi: "Fredoka";
$fontFor: "Permanent Marker";
$fontKo: $fontFir;
$fontEn: $fontSec;

// font-size
$fontSizLv1: 6vw;
$fontSizLv2: 96px;
$fontSizLv3: 72px;
$fontSizLv4: 48px;
$fontSizLv5: 36px;
$fontSizLv6: 24px;
$fontSizLv7: 20px;
$fontSizLv8: 18px;
$fontSizLv9: 14px;

// line-height
$lineHei150: 150%;
$lineHei140: 140%;
$lineHei130: 130%;
$lineHei120: 120%;
$lineHei110: 110%;
$lineHei100: 100%;

// color
$black111: #111;
$black222: #222;
$black333: #333;
$black444: #444;
$black555: #555;
$black666: #666;
$whiteFff: #fff;
$whiteF1f: #f1f1f1;
$whiteF5f: #f5f5f5;
$whiteF9f: #f9f9f9;
$greyAaa: #aaa;
$greyDdd: #ddd;
$greyEae: #eaeaea;
$fontColFir: $black222;
$fontColSec: $black444;
$fontColThi: $black666;
$colPoint1: #d05fe5;
$colPoint2: #ffe30d;
$colPoint3: #89de07;
$colPoint4: #41e0eb;
$colPoint5: #f06b67;
$colPoint6: #ff7896;
$colPoint7: #f7ff2f;
$colPoint8: #310591;
$colPoint9: #2ea34e;
