@charset "UTF-8";
$IMG_PATH: "https://raw.githubusercontent.com/hellojoyworldz/myPORTFOLIO/ver_html/assets/img";

$in: 1440px;
$lyMargin: 96px;
$lyPadding: 240px;
$lyGap: 24px;
$lyRadius: 36px;
$lyMinHeight: 730px;

$font__first: "IBM Plex Sans KR";
$font__second: "Montserrat";
$font__third: "Fredoka";
$font__forth: "Permanent Marker";
$fontFir: "IBM Plex Sans KR";
$fontSec: "Montserrat";
$fontThi: "Fredoka";
$fontFor: "Permanent Marker";
$fontKo: $fontFir;
$fontEn: $fontSec;

// variable

$fontSizLv1: 6vw;
$fontSizLv2: 96px;
$fontSizLv3: 48px;
$fontSizLv4: 36px;
$fontSizLv5: 24px;
$fontSizLv6: 18px;
$fontSizLv7: 14px;
$titSizFir: $fontSizLv1;
$titSizSec: $fontSizLv2;
$titSizThr: 72px;
$txtSizeLv1: $fontSizLv3;
$txtSizeLv2: $fontSizLv4;
$txtSizeLv3: $fontSizLv5;
$txtSizeLv4: $fontSizLv6;
$txtSizeLv5: $fontSizLv7;

$lineHei150: 150%;
$lineHei140: 140%;
$lineHei130: 130%;
$lineHei120: 120%;
$lineHei110: 110%;
$lineHei100: 100%;
$lineHeiLv0: $lineHei100;
$lineHeiLv1: $lineHei150;
$lineHeiLv2: $lineHei140;
$lineHeiLv3: $lineHei120;

$black111: #111;
$black222: #222;
$black333: #333;
$black444: #444;
$black555: #555;
$black666: #666;
$whiteFff: #fff;
$whiteF1f: #f1f1f1;
$whiteF5f: #f5f5f5;
$whiteF9f: #f9f9f9;
$greyAaa: #aaa;
$greyDdd: #ddd;
$greyEae: #eaeaea;
$fontColFir: $black222;
$fontColSec: $black444;
$fontColThi: $black666;
$colPoint1: #d05fe5;
$colPoint2: #ffe30d;
$colPoint3: #89de07;
$colPoint4: #41e0eb;
$colPoint5: #f06b67;
$colPoint6: #ff7896;
$colPoint7: #f7ff2f;
