@import "../../assets/styles/variable.scss";

.mainBanner {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: $lyPadding $lyMargin;
  text-align: center;

  img {
    width: 80%;
    height: auto;
  }

  &__emoji > span {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

@media (max-width: 1440px) {
  .mainBanner {
    padding: 96px 16px;
  }
}
